/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
span {
  color: white;
  font-size: 32px;
  font-weight: bold;
  background-color: #3498DB;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid grey;
  padding: 15px 15px;
  border-radius: 5px;
  margin: 5px;
}

.form {
  padding: 24px
}

.letters {
  padding : 15px;
}

.container {
  font-family: "Quicksand", sans-serif;
  padding: 24px;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #75D5CB;
  border: 1px solid white;
  color: white;
  font-size: 18px;
}

.text {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #75D5CB;
  font-size: 18px;
}

a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #75D5CB;
  border: 1px solid white;
  color: white;
  font-size: 18px;
}

.score {
  margin-bottom: 30px;
}
